/* nav CSS */
#nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #F4F6F9;
    border: 1px solid #dbd7d7;
    color: #5E5E5E;
}
#nav #nav_list{
    font-size: 12px;

}
#nav #nav_list a{
    text-decoration: none;
    color: black;
}
#nav_list p{
    cursor: pointer;
    margin: 0;
    padding: 12px 0;
}
#nav_list p.active{
    font-weight: bold;
    border-bottom: 1px solid black;
}
#nav #nav_list a:hover{
    font-size: 14px;
    transition-duration: 0.2s;
}
/* nav_sub CSS */
#nav_sub {
    display: flex;
    justify-content: center;
    background-color: #dadee3;
    color: #5E5E5E;
}
#nav_sub #nav_list{
    font-size: 12px;
    margin: 0 24px;
}
#nav_sub #nav_list p{
    cursor: pointer;
}
