html, body{
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    /* swiper width: auto를 위한 width 지정 */
    width: 110px !important; 
    text-align: center;
    font-size: 12px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}